@tailwind base;
@tailwind components;
@tailwind utilities;

.main-page {
  section {
    margin-bottom: 5rem;
    scroll-margin-top: 5rem;
  }

  @media (min-width: 1024px) {
    section {
      margin-bottom: 10rem;
    }
  }
}
